
    <form action="" method="post">
        <input type="text" name="title" placeholder="Quote">
        <br>
        <input type="submit" value="Create">
    </form>

    <script>

        document.querySelector("form").addEventListener("submit",handleSubmit);

        async function handleSubmit(ev){

            ev.preventDefault();

            let data = new FormData(this);

            let response = await fetch("./create",{
                method:"POST",
                body:data
            })

            response = await response.text();
            console.log(response);

        }
    </script>
